/* background color */
body {
  background-color: #ffba93;
  font-family: 'JetBrains Mono', monospace;
}

/* center text */
.centerText {
  text-align: center;
}

/* center cards on home page */
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
}

/* margin from title of page */
.marginFromTop {
  margin-top: 8%;
}

/* margin for title of page */
.marginForTitle {
  margin-top: 2%;
}

/* center login/register form */
.centerLogin {
  width: 50%;
  margin: 0 auto;
}

/* width 100 */
.bigWidth {
  width: 100% !important;
}

/* god center ? */
.godCenter {
    display: flex;
    justify-content: center;
}